.streetElement {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    top: 64px;
    color: #000;
}

